@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--hero-banner-font);
}

:root {
  --primary-color: #6edae6;
  --white-color: #fff;
  --black-color: #000;
  --navbar-font: 'Work Sans', sans-serif;
  --hero-banner-font: 'Work Sans', sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
==================== 
End of global Styles
=====================
*/

/*
====================================
     MOBILE FIRST
====================================
*/

header {
  width: 100%;
  height: 15vh;
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-left: 2rem;
  margin-top: 2rem;
  z-index: 10;
}
.logo i {
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.8);
}
.navbar {
  margin-right: 3rem;
  z-index: 10;
  /* width: 30rem; */
}
.navbar-links {
  display: flex;
  justify-content: space-evenly;
  /* padding-top: 5rem; */
}
.navbar-link {
  margin: 1rem 3rem;
  display: inline-block;
  transition: transform 0.5s;
}
.navbar-link a {
  font-size: 2rem;
  font-family: var(--navbar-font);
  color: var(--black-color);
}
.navbar-link:hover {
  transform: scale(1.5);
}

/*
=============== 
Section one
===============
*/
/* section-one /section-one-hero /Logo / navbar / cube / banner / Background/slideShow */
.section-one {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0);
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid blue; */
}
.section-one-hero {
  /* border: 2px solid red; */
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.section-one-hero h1 {
  font-family: var(--hero-banner-font);
  font-size: 13rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.section-one-hero p {
  font-family: var(--hero-banner-font);
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 6rem 0 4rem 0;
}
.section-one-hero span {
  font-family: var(--hero-banner-font);
  font-size: 3rem;
  margin-bottom: 5rem;
}
.section-one-hero button {
  padding: 2rem 4rem;
  font-size: 2rem;
  background-color: var(--black-color);
  color: var(--primary-color);
  font-weight: 400;
  border: none;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    20% 95%,
    0 100%,
    0 0,
    23% 5%
  );
  transition: clip-path 0.5s;
}
.section-one-hero button:hover {
  clip-path: polygon(
    40% 15%,
    77% 15%,
    100% 10%,
    100% 90%,
    75% 85%,
    40% 85%,
    30% 100%,
    0 50%,
    0 50%,
    30% 0
  );
}
.slideshow {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.slideshow div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 5s;
}
.slideshow div.change {
  opacity: 1;
}
/*
=============== 
End of Section one
===============
*/

/*
=============== 
Section two
===============
*/
.section-two {
  /* margin-top: 81.5rem; */
  padding: 100vh 0;
  width: 100%;
  height: 120vh;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  /* position: relative; */
}
.section-two-heading {
  font-size: 10rem;
  font-weight: 200;
  color: var(--black-color);
}

.phones {
  height: 60vh;
  width: 50vh;
  background-image: linear-gradient(var(--primary-color), var(--white-color));
  border-radius: 0.5rem;
}

.phones img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  /* position: absolute; */
}
.phone-btns {
  margin-top: 10rem;
  display: flex;
}
.phone-btn {
  width: 6rem;
  height: 6rem;
  background-image: linear-gradient(
    to right,
    rgb(51, 51, 51) 60%,
    rgb(82, 82, 82)
  );
  margin: 0 3rem;
  border-radius: 50%;
  position: relative;
}

.phone-btn::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  display: block;
  border: 0.1rem solid #6edae6;
  border-radius: 1rem;
}
.phone-btn span {
  /* display: none; */
  position: absolute;
  top: -3rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--primary-color);
  width: max-content;
  transform: scale(0);
  transition: transform 0.2s;
}

.phone-btn:hover span {
  transform: scale(1);
}
/*
=============== 
End of Section two
===============
*/
/*
=============== 
 Section three
===============
*/
.section-three {
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  padding: 15rem 0;
  clip-path: polygon(68% 0, 100% 0, 100% 97%, 38% 100%, 0 100%, 0 3%);
}
.section-three-heading {
  font-size: 10rem;
  font-weight: 200;
  color: var(--primary-color);
  margin-bottom: 15rem;
}
.section-three-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  perspective: 1000rem;
  position: relative;
}
.section-three-content img {
  width: inherit;
}
.topbook-img-1 {
  transform: rotateX(-80deg);
  transform-origin: bottom;
}
.loading-wrapper {
  position: absolute;
  top: 6%;
  width: 60%;
  height: 85%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(./images/TopBook/topbook-1-desktop.png) center no-repeat;
  z-index: -1;
  opacity: 0;
}
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  flex-direction: column;
}
.change .loading {
  opacity: 0;
  transition: 1s 5s;
}
.change .topbook-img-1 {
  transform: rotateX(0);
  transition: transform 5s;
}
.change .loading-wrapper {
  opacity: 1;
  transition: opacity 1s 2s;
}
.loading i {
  font-size: 10rem;
  color: var(--white-color);
  margin-bottom: 2rem;
}
.progress-bar {
  width: 22rem;
  height: 0.3rem;
  background-color: #888;
  border-radius: 5rem;
  position: relative;
}
.progress-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--white-color);
}

.change .progress-bar::after {
  width: 100%;
  transition: width 1s 3s;
}

.topbook-info {
  position: absolute;
  width: 70rem;
  text-align: center;
  opacity: 0;
}
.change .topbook-info {
  opacity: 1;
  transition: opacity 1s 6s;
}
.topbook-info-heading {
  font-size: 6rem;
  font-weight: 400;
  color: var(--primary-color);
}

.topbook-price {
  font-size: 2.5rem;
  font-weight: 200;
  margin: 3rem 0;
}
.topbook-btn {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
  width: 25rem;
  height: 5rem;
  background-image: linear-gradient(#ddd, #fff);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #fff 1rem;
  cursor: pointer;
}
/*
 =============== 
 End of Section three
 ===============
 */
/*
 =============== 
 Section four
 ===============
 */
.section-four {
  height: 140vh;
  padding: 20vh 0;
  flex-direction: column;
  position: relative;
}
.watch-band-img {
  width: 35rem;
  height: 35rem;
  object-fit: contain;
}
.watches {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.watches-cases {
  flex-direction: column;
}
.watches > div {
  position: absolute;
}
.watch-case-img {
  width: 35rem;
  height: 35rem;
  object-fit: contain;
}
.watch-control {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: rgba(221, 221, 221, 0.4);
  border-radius: 5rem;
}
.watch-control i {
  font-size: 3rem;
}
.watch-top-control {
  top: 22vh;
  left: 50%;
  transform: translateX(-50%);
}
.watch-right-control {
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
.watch-bottom-control {
  left: 50%;
  bottom: 20vh;
  transform: translateX(-50%);
}
.watch-left-control {
  top: 50%;
  left: 20vh;
  transform: translateY(-50%);
}
.watch-btn {
  position: absolute;
  bottom: 30vh;
  right: 35%;
  width: 13rem;
  height: 5rem;
  background-color: var(--black-color);
  color: var(--primary-color);
  border: none;
  border-radius: 4rem;
  font-size: 1.6rem;
  font-weight: 200;
  cursor: pointer;
}
/*
 =============== 
 End of Section four
 ===============
 */
