@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #6edae6;
  --white-color: #fff;
  --black-color: #000;
  --navbar-font: 'Work Sans', sans-serif;
  --hero-banner-font: 'Work Sans', sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
==================== 
End of global Styles
=====================
*/

/*
====================================
     MOBILE FIRST
====================================
*/

/*
=============== 
Section one
===============
*/
/* section-one /Logo / navbar / cube / banner / BackgroundslideShow */
.section-one {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0);
  position: relative;
}
.navbar-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border: 2px solid red; */
  height: 3.5rem;
}
.navbar-link {
  transition: transform 0.5s;
}
.navbar-link a {
  margin-right: 2.5rem;
  font-size: 1.5rem;
  font-family: var(--navbar-font);
  color: var(--black-color);
  font-weight: bold;
  transition: transform 0.5s;
}

.navbar-link:hover {
  transform: scale(1.5);
}

/* hero-banner */

.section-one-hero {
  /* border: 2px solid red; */
  height: 100%;
  flex-direction: column;
}
.section-one-hero h1 {
  font-size: 6rem;
  font-family: var(--hero-banner-font);
  font-weight: 300;
  margin-bottom: 2rem;
}
.section-one-hero p {
  font-size: 2rem;
  font-family: var(--hero-banner-font);
  margin-bottom: 2rem;
}
.section-one-hero span {
  font-size: 2rem;
  font-family: var(--hero-banner-font);
  margin-bottom: 2rem;
}
.section-one-hero button {
  width: 12rem;
  height: 4rem;
  background-color: var(--black-color);
  color: var(--primary-color);
  font-family: var(--hero-banner-font);
  border: none;
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    20% 95%,
    0 100%,
    0 0,
    23% 5%
  );
  cursor: pointer;
}

/*
=============== 
End of Section one
===============
*/
